.table-flex {
    width: 100%;
}

.table-flex th, .table-flex td {
    padding: .4rem;  
}

.table-flex th {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.table-flex td {
    font-size: 13px; 
}

.table-flex tr {
    font-size: 19px;
}

.table-container {
    max-height: calc(100vh - 625px); /* Ajusta el valor según lo necesites */
    min-height: 355px; /* Puedes ajustar este valor según necesites */
    
    
}
